ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p{
  margin: 0;
}

.wrap-tab{
  overflow: hidden;
}

.list-tab{
  display: flex;
  margin: 0 -2px;
  border-bottom: 3px solid #5bbee5;
}
.list-tab > li{
  display: block;
  padding: 0.5em 1em;
  margin: 0 2px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #ccc;
  box-sizing: border-box;
  cursor: pointer;
}

.list-tab .active{
  background: #5bbee5;
}

.tab-content{
  display: none;
  padding: 1em;
  border-bottom: 1px solid #5bbee5;
  border-left: 1px solid #5bbee5;
  border-right: 1px solid #5bbee5;
}
.tab-content.active{
  display: block;
}

.drag-and-drop {
	cursor: move;
	width:100px;
	height:100px;
	position: absolute;
	z-index: 1000;
	color:#fff;
	font-size:20px;
	line-height:100px;
	text-align:center;
}

.drag {
	z-index: 1001;
}

#relative {
	position:relative;
	height:100px;
}

.example-parent {
	border: 2px solid #DFA612;
	color: black;
	display: flex;
	font-family: sans-serif;
	font-weight: bold;
}

.example-origin {
	flex-basis: 100%;
	flex-grow: 1;
	padding: 10px;
}

.example-draggable {
	background-color: #4AAE9B;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
}

.example-dropzone {
	background-color: #6DB65B;
	flex-basis: 100%;
	flex-grow: 1;
	padding: 10px;
}

.sortable-chosen {
  color: #fff;
  background-color: #edb54c;
}

.example-origin {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}